.hero {
	position: relative;
	margin-left: 77px;

	&__left-box {

		.title {
			width: 883px;
			height: 340px;
			flex-shrink: 0;
			color: var(--Text-1, #FAFAF9);
			font-family: Roboto;
			font-size: 172px;
			font-style: normal;
			font-weight: 800;
			line-height: 170px;
			letter-spacing: -2px;
			text-transform: uppercase;
			margin-bottom: 47px;
		}

		.text {
			width: 560px;
			color: $two-main-color;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: 0.5px;
			margin-bottom: 50px;
		}

		.btn {
			display: inline-flex;
			padding: 24px 25px;
			align-items: flex-start;
			gap: 10px;
			border-radius: 10px;
			background: #E6533C;
			margin-bottom: 112px;
			border: none;

			&:hover {
				background: transparent;
				// border: 2px solid #E6533C;
				box-shadow: 0 0 0 2px #E6533C;
				color: #E6533C;
				transition: all .2s linear;
			}
		}

		.logo-brand {
			color: $two-main-color;
			font-size: 14px;
			font-style: normal;
			font-weight: 600;
			line-height: 22px;
			letter-spacing: 1px;
			margin-bottom: 33px;
		}

		.brand {
			display: flex;
			gap: 17px;
			margin-bottom: 200px;
		}
	}

	&__right-box {
		position: absolute;
		right: 90px;
		top: 60px;

		@keyframes name {
			from {
				transform: translateY(0) translateX(0);
			}

			50% {
				transform: translateY(20px) translateX(5px);
			}

			to {
				transform: translateY(0) translateX(0);
			}
		}

		.card-run {
			position: absolute;
			top: -25px;
			right: -59px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: absolute;
			border-radius: 12px;
			background: #EF8964;
			width: 180px;
			height: 110px;
			flex-shrink: 0;
			animation: name 5s linear infinite;


			.eclips {
				width: 24px;
				height: 24px;
				display: flex;
				justify-content: center;
				align-items: center;
				background-image: url(/src/img/Ellipse\ 1.svg);
				margin-left: 25px;
			}

			.numb-run {
				color: $main-color;
				font-size: 48px;
				font-style: normal;
				font-weight: 700;
				line-height: 50px;
				letter-spacing: -5px;
				text-transform: uppercase;
				margin-left: 25px;
			}

			.text-run {
				color: $two-main-color;
				font-size: 16px;
				font-style: normal;
				font-weight: 600;
				line-height: 24px;
				letter-spacing: 0.5px;
			}
		}

		.card-tutorial {
			display: flex;
			align-items: center;
			position: absolute;
			top: 370px;
			left: -130px;
			width: 206px;
			height: 96px;
			flex-shrink: 0;
			border-radius: 12px;
			background: #303030;
			animation: name 5s linear infinite;

			img {
				padding-left: 23px;
				padding-right: 10px;
			}

			.text {

				.video-tut {
					color: $main-color;
					font-size: 24px;
					font-style: normal;
					font-weight: 600;
					line-height: 24px;
					letter-spacing: 0.3px;
				}

				.text-tut {
					color: $two-main-color;
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 24px;
					letter-spacing: 0.5px;
				}
			}
		}

		.card-video {
			display: flex;
			align-items: center;
			position: absolute;
			right: -113px;
			bottom: 110px;
			width: 193px;
			height: 98px;
			flex-shrink: 0;
			border-radius: 12px;
			background: #7A29DC;
			animation: name 5s linear infinite;

			.text {
				display: flex;
				flex-direction: column;
				margin-left: 24px;

				.free-workout {
					color: $main-color;
					font-size: 40px;
					font-style: normal;
					font-weight: 600;
					line-height: 40px;
					letter-spacing: 1px;
				}

				.text-workout {
					color: $two-main-color;
					font-size: 13px;
					font-style: normal;
					font-weight: 400;
					line-height: 20px;
					letter-spacing: 1px;
				}
			}

		}

	}

}