$main-color: #FAFAF9;
$two-main-color: rgba(239, 237, 232, 0.65);
// $color: ;
// $color-proc:;

$bg-color:#323443;
$bg-card-color: #232532;
$main-card-color: #4F5261;
// $input-placeholder-color: #4f4f4f;